/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
p {
    border-style: dotted;
    border-color: red;
    border-width: 5px;
    background-color: #EAECEE;
    padding: 10px;
    margin: 20px;
}
    
#one {
    position: fixed;
    top: 40px;
    left: 10%;
    width: 20em;
    border: 10px red solid;
    padding: 45px;
    margin: 55px;
}

#two {
    top: 40px;
    left: 60%;
    position: fixed;
    width: 20em;
    border: 10px blue solid;
    padding: 45px;
    margin: 55px;
}

#three {
    bottom: 40px;
    left: 10%;
    position: fixed;
    width: 20em;
    border: 10px black solid;
    padding: 45px;
    margin: 55px;
}

#four {
    position: fixed;
    bottom: 40px;
    left: 60%;
    width: 20em;
    border: 10px yellow solid;
    padding: 55px;
    margin: 45px;
}
 
